<app-menu></app-menu>


<body>
<div class="main">
  <div class="container">
    <h1>Mulțumim pentru înregistrare pe platforma SyarMed!</h1>
    <p>
      Suntem bucuroși că te-ai alăturat comunității noastre. Acum trebuie doar să aștepți aprobarea administratorului pentru a te putea conecta.
      Aprobarea include verificarea documentelor necesare pentru validarea titlului tău de doctor.
    </p>
    <p>
      Te rugăm să trimiti documentele necesare la adresa noastră de email: <a href="mailto:contact@syarmed.com" class="email-link">contact@syarmed.com</a>.
    </p>
    <button class="button" (click)="toHome()">Înapoi pe pagina principală</button>
  </div>
</div>


</body>


<app-footer></app-footer>
