.block{
  background-color: #012d33;
  color: #67cdcd;
  margin-top: 100px;
  margin-bottom: 140px;
  border-radius: 25px;
}

.btn{
  background-color: #67cdcd;
  color: #012d33;
}

.main{
  background-color: #ccf3f3;
  padding: 50px 20px 20px 20px;
  border-radius: 25px;
}

body{
  background-color: #012d33;
}
