<app-menu></app-menu>


<body>
<div class="main">
  <div class="container">
    <h2>Editare Doctor</h2>
    <form (ngSubmit)="updateDoctor()">
      <div class="form-group">
        <label for="firstname">Prenume:</label>
        <input type="text" id="firstname" class="form-control" [(ngModel)]="updatedUser.firstname" name="firstname" required />
      </div>
      <div class="form-group">
        <label for="lastname">Nume:</label>
        <input type="text" id="lastname" class="form-control" [(ngModel)]="updatedUser.lastname" name="lastname" required />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="updatedUser.email" name="email" required />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Telefon:</label>
        <input type="text" id="phoneNumber" class="form-control" [(ngModel)]="updatedUser.phoneNumber" name="phoneNumber" required />
      </div>
      <div class="form-group">
        <label for="specialization">Specializare:</label>
        <input type="text" id="specialization" class="form-control" [(ngModel)]="updatedUser.specialization" name="specialization" required />
      </div>
      <div class="form-group">
        <label for="hospital">Spital:</label>
        <input type="text" id="hospital" class="form-control" [(ngModel)]="updatedUser.hospital" name="hospital" required />
      </div>
      <div class="form-group">
        <label for="enabled">Cont activ:</label>
        <input type="checkbox" id="enabled" class="form-control" [(ngModel)]="updatedUser.enabled" name="enabled" />
      </div>
      <div class="form-group">
        <label for="accountLocked">Contul este blocat</label>
        <input type="checkbox"
               class="form-control"
               id="accountLocked"
               [(ngModel)]="updatedUser.accountLocked"
               name="accountLocked">
      </div>
      <button type="submit" class="btn btn-success">Actualizează</button>
    </form>
  </div>
</div>
</body>



<app-footer></app-footer>
