.main{
  background-color: #ccf3f3;
  padding: 50px 20px 20px 20px;
  border-radius: 25px;
  min-height: 80vh;
}

body{
  background-color: #012d33;

}

.appointment-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #67cdcd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #012d33;
}

h3 {
  text-align: center;
  color: #012d33;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #012d33;
}

select,
input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #67cdcd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
  height: 80px;
}

button {
  background-color: #012d33;
  color: #67cdcd;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #014852;
}

p {
  margin: 10px 0;
  color: #012d33;
}

p.success {
  color: #28a745; /* Verde pentru succes */
}

p.error {
  color: #dc3545; /* Roșu pentru eroare */
}





.doctor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  color: #67cdcd;
}

.doctor-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.doctor-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.doctor-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.doctor-info h4 {
  margin: 10px 0 5px;
  color: #67cdcd;
}

.doctor-info p {
  margin: 5px 0;
  color: #67cdcd;
}

button.active {
  background-color: #00bfff; /* Culoare când butonul este activ */
  color: #ffffff;
}
